* {
  margin: 0;
  padding: 0;
  background-color: RGB(255, 255, 255);
  color: RGB(1, 51, 101);
  position: relative;
}

.header {
  background-color: RGB(1, 51, 101);
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin-bottom: 10px;
}
.header-link {
  background-color: RGB(1, 51, 101);
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px red;
}
.articles {
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  /* text-align: center; */
  list-style: none;
  text-shadow: 0.2px 0.2px grey;
}
.lists {
  margin: 20px;
  /* border: 1px solid black; */
  width: 300px;
  padding: 20px;
  background-color: RGB(238, 242, 245);
  box-shadow: 10px 10px RGB(1, 51, 101);
}

.login-image {
  position: absolute;
  width: 5%;
  height: 95%;
  border-radius: 50%;
  left: 50px;
}
.logout-button {
  position: absolute;
  width: 4%;
  color: white;
  border: none;
  background-color: RGB(1, 51, 101);
  text-shadow: 0.5px 0.5px red;
  font-size: 1rem;
  left: 5px;
}
.hide {
  display: none;
}

a {
  margin: 0 5px 0 5px;
  text-decoration: none;
  color: #fff;
}

.nav-link {
  margin-left: 70px;
  text-shadow: 1px 1px grey;
}

.home-link {
  color: white;
  background-color: RGB(1, 51, 101);
}

.color-nav {
  background-color: red;
  color: white;
  font-weight: 500;
}

a.article-p {
  font-weight: 600;
}

h3,
h2 {
  text-align: center;
  margin: 20px;
  color: RGB(1, 51, 101);
}

.comments {
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  list-style: none;
}

#avatar {
  width: 80px;
  border-radius: 50%;
}

#users {
  width: 15%;
  border-radius: 50%;
}

#article {
  margin: 10px;
}

.single-article {
  margin: auto;
  width: 80%;
  /* border: 3px solid green; */
  padding: 10px;
}

.btn {
  width: 80px;
  height: 50px;
  margin: 20px;
}

.article-p {
  background-color: RGB(238, 242, 245);
  text-decoration: none;
}

.loading {
  display: inline-block;
  margin-left: 700px;
  margin-top: 10px;
}

.body {
  text-align: justify;
}

#avatar-p {
  margin-top: 10px;
  margin-bottom: 40px;
}

input {
  margin: 20px;
}
.input-comment {
  margin-left: -300px;
  height: 200px;
  border: 5px solid RGB(12, 110, 253);
  width: 100%;
  margin: 30px auto 20px;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
}

.comment-form {
  width: fit-content;
  padding: 20px;
}

.comment-posted {
  margin: 30px;
}

label {
  margin-left: 20px;
  margin-right: 10px;
}

.params {
  width: 50px;
  height: 100px;
  display: inline;
}

.ticker-wrapper-h {
  display: flex;
  position: relative;
  overflow: hidden;
  background-color: red;
}

.ticker-wrapper-h .heading {
  background-color: RGB(1, 51, 101);
  color: #fff;
  padding: 5px 10px;
  flex: 0 0 auto;
  z-index: 1000;
}
.ticker-wrapper-h .heading:after {
  content: "";
  position: absolute;
  top: 0;
  border-left: 20px solid RGB(1, 51, 101);
  border-top: 17px solid transparent;
  border-bottom: 15px solid transparent;
}

.news-ticker-h {
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 90%;
  z-index: 999;
  background-color: red;

  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: tic-h;
  animation-duration: 50s;
}
.news-ticker-h:hover {
  animation-play-state: paused;
}

.news-ticker-h li {
  display: flex;
  width: 100%;
  align-items: center;
  white-space: nowrap;
  padding-left: 20px;
}

.news-ticker-h li {
  color: white;
  font-weight: bold;
  background-color: red;
  margin: 0 150px 0 150px;
}

@keyframes tic-h {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

#ticker {
  margin-top: 500px;
}

#nc {
  background-color: red;
  color: white;
}

.first-heading {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

.comment-button {
  /* margin-left: -400px; */
  /* margin-top: 300px; */
  width: 150px;
}

.sando {
  margin: 10px;
}

.delete-comment {
  background-color: RGB(238, 242, 245);
}

.home-div {
  margin-top: 170px;
  margin-bottom: 170px;
}

.basic-navbar-nav {
  background-color: red;
}
